player-connection-mode=Listen
player-connection-guid=689453189
player-connection-debug=0
player-connection-project-name=Minecraft-2.0
player-connection-ip=25.78.121.173
player-connection-ip=192.168.2.13
player-connection-ip=192.168.56.1
gfx-enable-gfx-jobs=1
gfx-enable-native-gfx-jobs=1
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
